<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CdViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACD995871F8F3F58002EF8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD9959B1F8F3F59002EF8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD995A61F8F3F59002EF8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
